<header class="global-header">
  <div class="global-header__brand">
    <lam-icon-button
      icon="dock_to_right"
      [label]="navigation.isSidebarOpen() ? 'Close navigation' : 'Open navigation'"
      size="icon"
      [showTooltip]="false"
      interactionBackground="none"
      [filled]="false"
      ariaControls="primary-navigation"
      [expanded]="navigation.isSidebarOpen()"
      (activated)="navigation.toggleSidebar()"
    />
    <img class="global-header__logo" src="assets/ewapp-logo.svg" alt="EWApp">
  </div>

  <div class="global-header__actions">
    <div class="global-header__search">
      <app-button
        label="Search"
        ariaLabel="Search"
        leftIcon="search"
        [filledIcons]="true"
        [variant]="buttonVariant.Subtle"
        [size]="buttonSize.Small"
      />
    </div>

    <div class="global-header__profile">
      <lam-icon-button
        icon="notifications"
        label="Notifications"
        size="icon"
        tooltipPosition="bottom"
        tooltipAlign="end"
        [filled]="true"
      />
      <div class="global-header__profile-menu">
        <button type="button" class="avatar" aria-label="Open EA profile" [attr.aria-expanded]="profileMenuOpen" (click)="toggleProfileMenu($event)">{{ avatarInitials }}</button>
        <div *ngIf="profileMenuOpen" class="profile-menu" role="menu">
          <div class="profile-menu__user">{{ userType }} User</div>
          <button type="button" role="menuitem">Change password</button>
          <button type="button" role="menuitem" (click)="loggedOut.emit(); profileMenuOpen = false">Logout</button>
        </div>
      </div>
    </div>
  </div>
</header>
